{% extends 'base.html' %}

{% block content %}
<body>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'Home' %}">Home</a>
                <a class="breadcrumb-item" href="/{{item.get_category_display}}">{{ item.get_category_display }}</a> 
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->

    {% if result %}
        {% for item in result %} 
        <div class="container-fluid py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- News Detail Start -->
                        <div class="position-relative mb-3">
                            <img class="img-fluid w-100" src="/media/{{item.image}}" style="object-fit: cover;">
                            <div class="overlay position-relative bg-light">
                                <div class="mb-3">
                                    <a href="/{{item.get_category_display}}">{{ item.get_category_display }}</a>
                                </div>
                                {{ item.content | safe }}
                            </div>
                        </div>
                        <!-- News Detail End -->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% if empty %}
        {% if messages %}
            {% for msg in messages %}
                <div class="alert alert-{{ msg.tags }} mb-0 alert-dismissible fade show text-center"  role="alert">
                    <strong>Oops! : </strong> {{ msg }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
    {% endif %}

    {% endif %}


    {% if title and item %}
    <!-- News With Sidebar Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="/media/{{item.image}}" style="object-fit: cover;">
                        <div class="overlay position-relative bg-light">
                            <div class="mb-3">
                                <a href="/{{item.get_category_display}}">{{ item.get_category_display }}</a>
                            </div>
                            {{ item.content | safe }}
                        </div>
                    </div>
                    <!-- News Detail End -->
                </div>

                <div class="col-lg-4 pt-3 pt-lg-0">
                    <!-- Social Follow Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Follow Us</h3>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                                <small class="fab fa-facebook-f mr-2"></small><small>12,345 Fans</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                                <small class="fab fa-twitter mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #0185AE;">
                                <small class="fab fa-linkedin-in mr-2"></small><small>12,345 Connects</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                                <small class="fab fa-instagram mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #DC472E;">
                                <small class="fab fa-youtube mr-2"></small><small>12,345 Subscribers</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #1AB7EA;">
                                <small class="fab fa-vimeo-v mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    
                    <!-- Ads Start -->
                    <div class="mb-3 pb-3">
                        <a href=""><img class="img-fluid" src="/static/img/news-500x280-4.jpg" alt="Image"></a>
                    </div>
                    <!-- Ads End -->

                    <!-- Latest News Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Latest</h3>
                        </div>
                        {% for key in title %}
                        <div class="d-flex mb-3">
                            <img src="/media/{{key.image}}" style="width: 100px; height: 100px; object-fit: cover;">
                            <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                                <div class="mb-1" style="font-size: 13px;">
                                    <a href="/{{item.get_category_display}}">{{ key.get_category_display }}</a>
                                </div>
                                <a class="h6 m-0" href="/{{item.get_category_display}}">{{ key.title }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Latest News End -->

                    <!-- Tags Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Tags</h3>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="{% url 'Technology' %}" class="btn btn-sm btn-outline-secondary m-1">Programming/Technology</a>
                            <a href="{% url 'Health' %}" class="btn btn-sm btn-outline-secondary m-1">Health/Fitness</a>
                            <a href="{% url 'Entertainment' %}" class="btn btn-sm btn-outline-secondary m-1">Entertainment</a>
                            <a href="{% url 'Fashion' %}" class="btn btn-sm btn-outline-secondary m-1">Fashion</a>
                            <a href="{% url 'Food' %}" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                            <a href="{% url 'Business' %}" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                            <a href="{% url 'Sport' %}" class="btn btn-sm btn-outline-secondary m-1">Sports</a>
                            <a href="{% url 'Health' %}" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                            <a href="{% url 'Education' %}" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                            <a href="{% url 'Other' %}" class="btn btn-sm btn-outline-secondary m-1">Others</a> 
                        </div>
                    </div>
                    <!-- Tags End -->
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    <!-- News With Sidebar End -->
</body>

{% endblock  %}