{% extends 'base.html' %}


{% block content %}

<body>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="container">
            <nav class="breadcrumb bg-transparent m-0 p-0">
                <a class="breadcrumb-item" href="{% url 'Home' %}">Home</a>
                <span class="breadcrumb-item active">{{label}}</span>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                   
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-between bg-light py-2 px-4 mb-3">
                                <h3 class="m-0">{{label}}</h3>
                            </div>
                        </div>
                        {% for key in cat %}
                            <div class="col-lg-6">
                                <div class="position-relative mb-3">
                                    <img class="img-fluid w-100" src="/media/{{key.image}}" style="object-fit: cover;">
                                    <div class="overlay position-relative bg-light">
                                        <div class="mb-2" style="font-size: 14px;">
                                            {{ label }}</a>
                                        </div>
                                        <a class="h4" href="/detail/{{key.slug}}">{{ key.title }}</a>
                                        </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                                        
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="Page navigation">
                              <ul class="pagination justify-content-center">
                                {% if servciesdata.has_previous %}
                                    <li class="page-item">
                                    <a class="page-link" href="/{{url}}/?page={{servciesdata.previous_page_number}}" aria-label="Previous">
                                        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    </li>
                                    
                                {% endif %}
                                {% for n in totalpage %}
                                <li class="page-item"><a class="page-link" href="/{{url}}/?page={{n}}">{{n}}</a></li>
                                {% endfor %}
                                {% if servciesdata.has_next %}
                                <li class="page-item">
                                  <a class="page-link" href="/{{url}}/?page={{servciesdata.next_page_number}}" aria-label="Next">
                                    <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                                {% endif %}
                              </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 pt-3 pt-lg-0">
                    <!-- Social Follow Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Follow Us</h3>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                                <small class="fab fa-facebook-f mr-2"></small><small>12,345 Fans</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                                <small class="fab fa-twitter mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #0185AE;">
                                <small class="fab fa-linkedin-in mr-2"></small><small>12,345 Connects</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                                <small class="fab fa-instagram mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                        <div class="d-flex mb-3">
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #DC472E;">
                                <small class="fab fa-youtube mr-2"></small><small>12,345 Subscribers</small>
                            </a>
                            <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #1AB7EA;">
                                <small class="fab fa-vimeo-v mr-2"></small><small>12,345 Followers</small>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Newsletter Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Newsletter</h3>
                        </div>
                        <div class="bg-light text-center p-4 mb-3">
                            <p>Get Connect With our Services via Email - Subscriber Now</p>
                            {% if messages %}
                                {% for msg in messages %}
                                    <div class="alert alert-{{ msg.tags }} mb-0 alert-dismissible fade show text-center"  role="alert">
                                        <strong>Message: </strong> {{ msg }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="input-group" style="width: 100%;">
                                <form method = "post">
                                    <input type="email" class="form-control form-control-lg" placeholder="Your Email" name="email"><br>
                                    <div class="input-group-append">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit">Sign Up</button>
                                    </div>
                                </form>
                            </div>
                            <small>free Subscription service offer by Sharjeel Dairy</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->

                    <!-- Ads Start -->
                    <div class="mb-3 pb-3">
                        <a href=""><img class="img-fluid" src="/static/img/news-500x280-4.jpg" alt=""></a>
                    </div>
                    <!-- Ads End -->

                    <!-- Tags Start -->
                    <div class="pb-3">
                        <div class="bg-light py-2 px-4 mb-3">
                            <h3 class="m-0">Tags</h3>
                        </div>
                        <div class="d-flex flex-wrap m-n1">
                            <a href="{% url 'Technology' %}" class="btn btn-sm btn-outline-secondary m-1">Programming/Technology</a>
                            <a href="{% url 'Health' %}" class="btn btn-sm btn-outline-secondary m-1">Health/Fitness</a>
                            <a href="{% url 'Entertainment' %}" class="btn btn-sm btn-outline-secondary m-1">Entertainment</a>
                            <a href="{% url 'Fashion' %}" class="btn btn-sm btn-outline-secondary m-1">Fashion</a>
                            <a href="{% url 'Food' %}" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                            <a href="{% url 'Business' %}" class="btn btn-sm btn-outline-secondary m-1">Business</a>
                            <a href="{% url 'Sport' %}" class="btn btn-sm btn-outline-secondary m-1">Sports</a>
                            <a href="{% url 'Health' %}" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                            <a href="{% url 'Education' %}" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                            <a href="{% url 'Other' %}" class="btn btn-sm btn-outline-secondary m-1">Others</a> 
                        </div>
                    </div>
                    <!-- Tags End -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- News With Sidebar End -->

</body>

{% endblock  %}